<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<meta charset="UTF-8"></meta>

<head>

	<title>EmprestimoDeObrasReservadas</title>
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <!--Import jquery.dataTables.min.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/jquery.dataTables.min.css"  media="screen,projection"/>
	<!--Let browser know website is optimized for mobile-->
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>


	
	<style> 
		input{text-align:center;}
		::placeholder {color:black;}
	</style>
     
</head>

<body class="nav-wrapper # f5f5f5 grey lighten-4">
	<!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="materialize/js/jquery.dataTables.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
	
   <nav>
    	<div class="nav-wrapper #fafafa grey lighten-5">
            	<a class="brand-logo"> <img class="responsive-img"  src="http://i67.tinypic.com/2qak09h.png"/></a>
      			<a data-activates="mobile-demo" class="button-collapse"><i class="material-icons red-text">menu</i></a>
      			<ul class="right hide-on-med-and-down">
        			<li><a class="waves-effect waves-light btn" href="/menu">MENU DE OPÇÕES</a></li>
        			<li>
                		<form th:action="@{/logout}" method="post">
                 			<button type="submit" data-confirm="VOCÊ DESEJA DESLOGAR?" class="btn btn-default">LOGOUT
                			</button>
             			</form>
                	</li>
            	</ul>
      			<ul class="side-nav" id="mobile-demo">
        			<li><a class="waves-effect waves-light btn" href="/menu">MENU DE OPÇÕES</a></li>
        			<li>
                		<form th:action="@{/logout}" method="post">
                 			<button type="submit" data-confirm="VOCÊ DESEJA DESLOGAR?" class="btn btn-default">LOGOUT
                			</button>
             			</form>
                	</li>
      			</ul>
    		</div>
    </nav>
    

 
     <script type="text/javascript">
     
    	$(".button-collapse").sideNav();
    	
    	$(document).on('click', ':not(form)[data-confirm]', function(e){
    	    if(!confirm($(this).data('confirm'))){
    	      e.stopImmediatePropagation();
    	      e.preventDefault();
    			}
    	});

    	$(document).on('submit', 'form[data-confirm]', function(e){
    	    if(!confirm($(this).data('confirm'))){
    	    	e.stopImmediatePropagation();
    	      e.preventDefault();
    			}
    	});
    	
    	$(document).ready(function () {
    		
    		$('.js-example-basic-single').select2({width: "100%"});
    			  
    		 $('.datepicker').pickadate({
    			 format: 'dd-mm-yyyy',
    			 monthsFull: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
    			 monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
    			 weekdaysFull: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabádo'],
    			 weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
    			 today: 'Hoje',
    			 clear: 'Limpar',
    			 close: 'Pronto',
    			 labelMonthNext: 'Próximo mês',
    			 labelMonthPrev: 'Mês anterior',
    			 labelMonthSelect: 'Selecione um mês',
    			 labelYearSelect: 'Selecione um ano',
    			 selectMonths: true, 
    			 selectYears: 15,
    			 }); 
    			 });
    </script>
    
    
    <nav>
    	<div class="center-align">
    		<div class="#37474f blue-grey darken-3">
        		<div class="col s12">
                	<b><a class="breadcrumb">EMPRÉSTIMO (OBRAS RESERVADAS)</a></b>
           		</div>
           		<div>
           			<h6 class="right hide-on-med-and-down"><th:block th:include="fragmentos/mensagemValidacao"></th:block></h6> 
           		</div>
       		 </div>
       	</div>
    </nav>
    
    
	<h6><a href="/consultarEmprestimo" sec:authorize="hasAuthority('ROLE_ADMIN')" class="waves-effect waves-light btn"><i  class="material-icons left">dehaze</i>Consultar Empréstimos</a></h6>
    <h6><a href="/consultarReserva" sec:authorize="hasAuthority('ROLE_ADMIN')" class="waves-effect waves-light btn"><i  class="material-icons left">dehaze</i>Consultar Reservas</a></h6>
	
	<br></br><br></br>  
	
	<form class="center-align" th:object="${reservaRequest}" th:action="@{/emprestarObraReservada}" method="post">
		<div class="container"> 
	 		<div class="input-field col s3">
    			<select class = "js-example-basic-single" id="obra"  th:field="*{reserva}">  
       				<option value="" >Selecione a reserva</option>
       				<option th:each="reserva : ${todasReservadas}" th:text="${reserva}" th:value="${{reserva.reservaId}}"></option>
        		</select>
			</div>
            <div class = "container">                         
               <input  type = "date" class = "datepicker" name="emprestimoDevolucao" th:value="*{emprestimoDevolucao}" placeholder="CLICK PARA ESCOLHER A DATA DE DEVOLUÇÃO"/>  
            </div>         
    	</div>
		<div class="center-align">
			<button id="salvar" type="submit" class="btn btn-default">Salvar</button>
    	</div>
	</form>	
	
	<br></br><br></br>
	
	<footer class="page-footer #37474f blue-grey darken-3"   style="position:fixed;bottom:0;left:0;width:100%;">
    	<div class="footer-copyright">
        	<div class="container">
            	 © 2018 Copyright 
            	<a class="grey-text text-lighten-4 right" href="#!">Mais Links...</a>
         	</div>
          </div>
	</footer> 
	
	
	<!--relative-->


</body>

</html>